source_env ..
export H2O_FG_LIBS="$VYLET_PATH/implementation/h2o-fakegame/libs/"

source activate h2opy
export PYTHONPATH="$VYLET_PATH/implementation/h2o-fakegame/h2o-py/build/lib/:$PYTHONPATH"

